body {
    background-color: aqua;
}

h1 {
    font-family: cursive;
    background-color: rgb(240, 198, 15);
}

h2 { 
    font-family: cursive;
}

p {
    font-family: cursive;
    background-color: rgb(84, 238, 12);
}